<div class="container mx-3 mb-0 pb-4">
    <p-fieldset styleClass="sombra-black">
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <h2 class="text-white">Tickets <span class="text-sm"> Gestión de tickets</span> </h2>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12 zoomin animation-duration-300 p-0">
                <div class="sombra-black border-round-xl p-2 surface-0">
                    <app-panel-filters></app-panel-filters>
                    <app-toolbar></app-toolbar>
                    <app-table></app-table>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>