.button-ticket {
    color: #ffffff;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

.button-warning {
    background: #F59E0B;
    border: 1px solid #F59E0B;
}

.button-primary {
    background: #3B82F6;
    border: 1px solid #3B82F6;
}

.button-success {
    background: #22C55E;
    border: 1px solid #22C55E;
}
.button-danger {
    background: #EF4444;
    border: 1px solid #EF4444;
}
.button-help {
    background: #A855F7;
    border: 1px solid #A855F7;
}
.button-info {
    background: #3B82F6;
    border: 1px solid #3B82F6;
}
.button-secondary {
    background: #64748B;
    border: 1px solid #64748B;
}
