<p-toolbar>
    <ng-template pTemplate="left">
        <div class="my-2">
            <p-button icon="pi pi-plus" label="" pTooltip="Crear" styleClass="p-button-sm p-button-rounded mr-2 p-button-info sombra-black hover-info"
                (click)="create()"></p-button>
            <p-button icon="pi pi-pencil" label="" pTooltip="Editar"  styleClass="p-button-sm p-button-rounded mr-2 p-button-warning sombra-black hover-warning" 
                (click)="edit()"></p-button>
            <p-button icon="pi pi-trash" label="" pTooltip="Elininar" styleClass="p-button-sm p-button-rounded mr-2 p-button-danger sombra-black hover-danger"
                (click)="deleteCategory()"></p-button>
            <p-button *ngIf="showButtonAssingSubcategories" icon="pi pi-arrow-right-arrow-left" label="" pTooltip="Asignar subcategoria" styleClass="p-button-sm p-button-rounded mr-2 p-button-help sombra-black hover-help"
                (click)="openModalAssingSubcategory()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="right">
        <button pButton pRipple type="button" icon="pi pi-sync" class="p-button-rounded p-button-info p-button-text" (click)="reload()"></button>
    </ng-template>
</p-toolbar>
